<div class="w-full pt-6 flex flex-col items-center justify-center">
    <form action="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="bg-white max-w-xs shadow-md rounded px-8 py-6 mb-6">
        <div>
            <label class="ml-6 text-sm text-gray-400 mb-2">Usuario</label>
            <div class="mb-4 mr-2">
                <input type="text" class="border rounded-full w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline focus:border-green-400 resize-none overflow-hidden" formControlName="username">
            </div>
            <label class="ml-6 text-sm text-gray-400 mb-2">Senha</label>
            <div class="mb-4 mr-2">
                <input type="password" class="border rounded-full w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline focus:border-green-400 resize-none overflow-hidden" formControlName="password">
            </div>            
        </div>
        <div>
            <button type="submit"  class="border border-green-500 hover:bg-green-500 hover:text-white text-green-500 py-2 px-4 rounded focus:outline-none focus:shadow-outline">Entrar</button>
        </div>

    </form>
    <p>ou <a href="/#/register" class="text-green-500">registrar</a></p>
</div>