<app-logout></app-logout>
<div class="mx-6 flex items-center justify-center mb-6">
      <a class="w-36" href="/#/formulario">
        <div class="py-2 px-4 text-center border-l border-y rounded-tl-full rounded-bl-full hover:text-white hover:bg-green-500">
          Criar
        </div>
      </a>
      <a class="w-36" href="/#/buscar">
        <div class="py-2 px-4 text-center border-r border-y rounded-tr-full rounded-br-full hover:text-white hover:bg-green-500">
          Buscar
        </div>
      </a> 
</div>
