<app-navbar></app-navbar>

<div class="w-full pt-6 mb-6 flex flex-col items-center justify-center">

    <div class="bg-white max-w-xs shadow-md rounded px-8 py-6 mb-6">
        <label class="block text-gray-700 text-sm mb-2">Buscar por Ano</label>
        <div class="flex">
            <div class="mb-4 mr-2">
                <input #searchBox id="searchBox" (input)="setAno(searchBox.value)" type="number" [value]="ANO" class="shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" formControlName="data">
            </div>
    
            <div>
                <button (click)="onSubmit()"  class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Buscar</button>
            </div>
        </div>

    </div>

    <!-- RESULTADOS -->
    <div class="bg-white w-1/2">

        <div *ngFor="let controle of controles">
            <a href="/portaria/{{controle.id}}">
                <div class="flex hover:bg-slate-100 py-2 px-4 border-b-2">
                    <p class="text-gray-400 mr-2">n° {{controle.portaria}}</p>
                    <p>{{controle.assunto.substring(0,60)}}</p>
                </div>
            </a>
        </div>
         
    </div>
    <!-- RESULTADOS END -->

    <div *ngIf="controles.length > 0" class="flex items-center justify-center mt-6 mb-6">
        <button *ngIf="page > 0" (click)="previousPage()"  class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">anterior</button>
        <h1 class="mx-6 text-gray-500">Página {{page}} de {{pages}}</h1>
        <button *ngIf="page < pages - 1" (click)="nextPage()"  class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">próxima</button>
    </div>

</div>